*.log
**/dataset
**/result
skynet_scripts/train_108120.log skynet_scripts/train_108121.log skynet_scripts/train_108122.log skynet_scripts/train_108123.log skynet_scripts/train_108124.log skynet_scripts/train_108126.log skynet_scripts/train_108127.log skynet_scripts/train_108128.log skynet_scripts/train_108129.log
